#################################[ This file is placed in the Public Domain. ]#
# Replace the following with your account details.

kitename   = {{ pagekite_kitename }}
kitesecret = {{ pagekite_kitesecret }}
